<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="'lugares/tabs/ofertas/'+lugarFireBaseId"></ion-back-button>
    </ion-buttons>
    <ion-title>editar-oferta</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="onUpdateOffer()" [disabled]="!form?.valid">
        <ion-icon name="checkmark" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div *ngIf="isLoading" class="ion-padding ion-text-center">
      <ion-spinner color="primary"></ion-spinner>
    </div>
    <form [formGroup]="form" *ngIf="!isLoading">
      <ion-grid>
        <ion-row>
          <ion-col size-sm="6" offset-sm="3">
            <ion-item>
              <ion-label postion="floating">Titulo</ion-label>
              <ion-input type="text" autocomplete autocorrect formControlName="titulo"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size-sm="6" offset-sm="3">
            <ion-item>
              <ion-label position="floating">Descipcion</ion-label>
              <ion-textarea rows="3" formControlName="descripcion"></ion-textarea>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="!form.get('descripcion').valid && form.get('descripcion').touched">
          <ion-col size-sm="6" offset-sm="3">
            <p>La descripcion debe de ser menor a 180 caracteres</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>

</ion-content>
